<h2>Chunked Uploader</h2>

<span class="label">chunkSize</span>
<input type="text" ng-model="chunkSize" ng-keyup="checkEmpty(1)" value="" /> * 1024 = {{bytesToSize(chunkSize*1024)}}
<br/>

<input type="file" name="file" fileread="uploadme" onchange="angular.element(this).scope().calcChunkSize(event)" placeholder="placeholder.file" /><br />
maxChunks: {{ maxChunks }} / inQueue: {{chunksQueue}}<br />
<hr>
<button ng-click="sendFile()">send in Chunks</button>
<br/>
<hr>
<section>
    <progress value="{{progress}}" max="{{maxChunks}}"></progress> {{percent}}%
</section>
<hr>
<section>
    <input type="text" ng-model="assetId" value="" />
    <button ng-click="getFile()">get Chunks</button>
</section>
