<section ng-init="checkStorage();">
    <h3 ng-class="{localStorageOK:isLocalStorage(),localStorageFail:!isLocalStorage()}">{{checkLocalStorageMessage}}</h3>
</section>

<section class="storageForm mb40">
    <h3>Add Key</h3>
    <form name="addForm" ng-submit="addStorageKey()" ng-controller="addFormKeyCtrl">
        <label rel="key">Key</label><input name="key" type="text" required ng-model="key" /><br />
        <label rel="key">Value</label><input name="value" type="text" required ng-model="value" /><br />
        <br />
        <button class="btn btn-primary">save</button>
        <button onclick="reset();" class="btn btn-default">reset</button>
    </form>
</section>

<section class="handleStorageKeys clearfix mb40" ng-controller="handleKeyCtrl">
    <div class="fl mr20">
        <h3>Key List</h3>
        <div ng-repeat="key in storageKeys" class="repeated-item mb20">
            <div class="item-key"><span>{{key}}</span> <button ng-click="showValue(key)" class="btn btn-default btn-sm">show</button> <button ng-click="deleteKey(key)" class="btn btn-default btn-sm">delete</button></div>
        </div>
    </div>
    <div class="fl">
        <h3>Value</h3>
        <textarea style="width:300px;height:150px">{{currentValue}}</textarea>
    </div>
</section>