<section ng-init="load()">

    <h1 class="message mb20">{{message}}</h1>

    <h2>Create Key Pair</h2>

    <div class="mb20">
        <label rel="email">E-Mail</label><input name="email" type="text" ng-model="email" /><br />
        <label rel="passphrase">Passphrase</label><input name="passphrase" type="password" ng-model="passphrase" />
        <br />
        <label rel="keyType">KeyType</label><input name="keyType" type="number" maxlength="3" ng-model="keyType" readonly /> 1 = RSA
        <br />
        <label rel="numBits">numBits</label><input name="numBits" type="number" maxlength="4" ng-model="numBits" placeholder="2048" />
        <br />
        <input type="button" value="go" ng-click="generateKeyPair()" />
    </div>

    <div class="mb20 clearfix">
        <div class="fl mr20">
            <label>private Key</label><br />
            <textarea name="privKey">{{privKey}}</textarea>
        </div>
        <div class="fl">
            <label>public Key</label><br />
            <textarea name="pubKey">{{pubKey}}</textarea>
        </div>
    </div>

    <div class="mb20">
        <label>Time in s</label> {{timer}}
    </div>

    <div class="mb20">
        <button ng-click="clearStorage();">clear Complete Storage</button>
    </div>
</section>