body {padding:20px}
pre {text-align:left}

.fl {float:left;position:relative}
.fr {float:right;position:relative}

.mr20 {margin-right:20px}
.mb20 {margin-bottom:20px}
.mb40 {margin-bottom:40px}

.localStorageOK {color:#4cae4c}
.localStorageFail {color:#ac2925}
.storageForm label {width:40px;margin-right:10px}