<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="toggleNavi()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">EncEval</a>
        </div>
        <div class="navbar-collapse collapse" ng-class="{'collapse':!inCollapse,'in':inCollapse}">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-repeat="baseRoute in Util.notSorted(navigation)" ng-init="subRoutes = navigation[baseRoute]" ng-class="isTabActive(baseRoute)">
                    <a href="#/{{baseRoute}}" ng-click="hideNav()" ng-if="isDefault(subRoutes)">{{Util.ucFirst(baseRoute)}}</a>

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-if="hasSubRoutes(subRoutes)">{{Util.ucFirst(baseRoute)}} <b class="caret"></b></a>
                    <ul class="dropdown-menu" ng-click="hideNav()" ng-if="hasSubRoutes(subRoutes)">
                        <li ng-class="isTabActive(subRoute)" ng-repeat="subRoute in subRoutes" id="{{baseRoute}}-{{subRoute}}">
                            <a href="#/{{baseRoute}}/{{subRoute}}">{{Util.ucFirst(subRoute)}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>